.nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
  }
  
.nav-main li {
    float: left;
  }
  
.nav-main li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.nav-main li a:hover {
    background-color: #333333;
}