@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;400;600&display=swap');
@import url(nav.css);

:root{
    --black: #000;
    --light-grey: #333;
    --dark-grey: #111;
    --lighter-grey: #666;
    --red: #c82113;
    --dark-red: #94180e;
    --light-blue: #1085df;
    --dark-blue: #0e5a94;
}

body {
    background-color: var(--light-grey);
}

/* MAIN CONTAINER */
.container-main {
    border-style: solid;
    border-color: black;
    max-width: 950px;
    margin: auto;
    background-color: var(--lighter-grey);
}

/* MAIN HEADER */
.header-main {
    position: relative;
}

.header-main img {
    display: block;
    position: relative;
    width: 100%;
    max-height: 450px;
}

.header-main hgroup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-main hgroup img {
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Maps */
.google-maps iframe {
    width: 100%;
    height: 200px;
}

.sections {
    border-style: solid;
    border-color: black;
    max-width: 800px;
    margin: auto;
}

.sections h1 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.rasmus-collage {
    border-style: solid;
    border-top: var(--lighter-grey);
    border-left: var(--lighter-grey);
    border-right: var(--lighter-grey);
    max-width: 800px;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}

.rasmus-collage img {
    margin: 5px;
    border-radius: 10px;
    max-width: 90%;
    height: 350px;
    aspect-ratio: 16 / 9;
}

.rasmus-horizontal {
    border-style: solid;
    border-top: var(--lighter-grey);
    border-left: var(--lighter-grey);
    border-right: var(--lighter-grey);
    max-width: 800px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* display: grid;
    grid-template-columns: auto auto;
    justify-content: center; */
}

.rasmus-horizontal img {
    margin: 5px;
    border-radius: 10px;
    height: 60%;
    max-height: 240px;
    width: 60%;
    max-width: 340px;
}

.Corsa {
    padding-bottom: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.Corsa img {
    margin: 5px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}